<!DOCTYPE html>
<html>
<head>
	<title> Student Assistant</title>
     {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static '/CSS/bootstrap.css' %}">
		<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<body>

		<div class= "container">

		<nav class="navbar navbar-inverse">
			<div class ="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
					<span class="sr-only"> Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/" class="navbar-brand">Student Assistant</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-nav-demo">
			<div class="nav navbar-nav">

				<li> <a href="/profile/"> Profile </a></li>
				<li> <a href="/gradecal/"> CGPA calculator </a></li>
                <li> <a href="/gradhist/"> Grade history </a></li>
				<li> <a href="/cd/"> Course  Advisor</a></li>
				<li> <a href="/cp/"> Full course Path </a></li>
			</div>
			<div class="nav navbar-nav navbar-right">
				<li><a href="welcome.html"> Support</a></li>
				<li><a href="/logout"> Log out</a></li>
			</div>
			</div>
		</nav>
            {% block content %}
            {% endblock %}
	</body>
</head>
</html>