<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title> Student Assistant</title>
	<link rel="stylesheet" type="text/css" href="{% static '/CSS/bootstrap.css' %}">
	<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<body>
		
		<div class= "container">
		
		<nav class="navbar navbar-inverse">
			<div class ="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
					<span class="sr-only"> Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</button>
				<a href="/" class="navbar-brand">Student Assistant</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-nav-demo">
			<div class="nav navbar-nav"> 
				<li> <a href="#"> About </a></li>
			</div>
			<div class="nav navbar-nav navbar-right">
				<li><a href="/register/"> Sign Up</a></li>
				<li><a href="/login/"> Log In</a></li>
			</div>
			</div>
		</nav>
	 	



			<div class="jumbotron">
		 	<h1>About</h1>
		 	
		 	<!-- <button class="btn btn-success btn-lg">Learn More</button> -->
		</div>
		 
        <div class="container">
        	<p> 
				Through our website we want to create an interface between the Students of NSU and the Authority in a friendly manner in order to help the students with poor grades. Our vision is to provide a bridge between NSU Students and NSU Authority which would at least provide better grades to the students for their better future. </p> </li>
        	 <p>
        		 <li>The objective of this project is to create a rule based Expert System(ES) for the academic advising of the students of the Electrical & Computer Engineering Department at North  South University. </li>
				<li>This system helps the students in course selection for each academic semester. </li> 
				<li>This system provide proper guidelines for the students </li>
</p>
 
        </div>
